:root {
  --content-col: #ffb6c1a8;
  --text-col: #ffffff;
  --container-col: #f37fb5;
  --float-col: #a45f9a;
}

html {
  font: 1em/1.5 sans-serif;
  scroll-behavior: smooth;
  color: var(--text-col);
}

textarea {
  background-color: var(--container-col);
  height: 125px;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* BACKGROUND WYGENEROWANE PRZEZ AI */
  background-image: url("../resource/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  z-index: -1;
  background-color: black;
}

a {
  color: var(--text-col);
  text-decoration: none;
}

.layout {
  background-color: transparent;
  display: grid;
  gap: 4px;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.5fr 1.5fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar content content"
    "footer footer footer";
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.2fr 2fr 0.1fr 0.1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "content"
      "footer";
  }
}

nav {
  grid-area: sidebar;
  background-color: var(--container-col);
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  font-size: 1.5em;
  text-decoration: none;
}

header {
  grid-area: header;
  background-color: var(--container-col);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 3em;
}

footer {
  grid-area: footer;
  background-color: var(--container-col);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  align-items: center;
  align-content: center;
}

main {
  grid-area: main;
  background-color: var(--container-col);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

.content {
  grid-area: content;
  background-color: var(--content-col);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}

.content img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

input[type="submit"] {
  border-radius: 5px;
  background: var(--content-col);
}